$colour-black: #000;
$colour-white: #ffffff;
$colour-background: #F2F2F2;
$colour-btn: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$colour-green: #99E2D0;
$colour-footer: rgb(27, 24, 24);
$colour-number: #9356DC;