/*LIEU*/

.location {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:  rgb(44, 42, 42);
    background-color: rgb(240, 233, 233);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3) inset;

    .fa-map-marker-alt {
        margin-right: 10px;
    }
}

/*TITRE PRINCIPAL*/

.container-title {
    height: 320px;
    margin: 0px;
    background-color: $colour-background;

    .container-title__main-title {
        padding-top: 50px;
        margin: 0px;
        text-align: center;
        font-size: 1.8em;
        font-family: 'Raleway-Bold.ttf';
    }

    .container-title__main-subtitle {
        text-align: center;
    }

    .container-title__btn {
        background: $colour-btn;
        margin-top: 20px; 
        padding: 20px 20px;
        border: none;
        border-radius: 50px 50px;
        color: $colour-white;
        height: 55px;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.01);
        transition: transform .2s;
    }

    .container-title__btn:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .container-title__btn-modif {
        text-align: center;
    } 
}

/*FONCTIONNEMENT*/

.function {

    background-color: $colour-white;
    padding-top: 10px;
    padding-bottom: 50px;

    .function--title {
        font-size: 1.5em;
        font-weight: bold;
        margin: 40px 30px;
    }

    .function__step--title {
       font-size: 1.2em;
       margin: 25px 10px;
    }

    .function__step--icon {
        font-size: 1.2em;
        color: rgb(170, 159, 159);
        margin: 25px 50px;
    }

    .function__step--number {
        text-align: center;
        border-radius: 20px;
        background-color: $colour-number;
        color: $colour-white;
        height: 20px;
        width: 20px;
        padding-top: 1px;
        margin-top: 28px;
        margin-left: -10px;
    }

    .function__step {
        display: flex;
        flex-direction: row;
        margin: 30px 30px;
        border: none;
        border-radius: 20px;
        height: 75px;
        background-color: $colour-background;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .function__step:hover {
        background-color: rgb(255, 215, 255);
    }

    @media screen and (min-width:0px) and (max-width:500px) {
        .function__step {
            height: 70px;
        }

        .function__step--title {
            font-size: 1em;
            margin: 25px 5px;
        }

        .function__step--icon {
            margin: 23px 15px;
        }

        .function__step--number {
            margin-top: 25px;
        }
    }

    @media screen and (min-width:600px) and (max-width:900px) {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .function__step {
            width: 70%;
            margin: 12px;
        }
    }

    @media screen and (min-width:901px) and (max-width:2000px) {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;

        .function--title {
            position: absolute;
            top: -10px;
        }

        .function__step {
            width: 40%;
            margin: 12px;
        }
        padding-top: 100px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/*RESTAURANTS*/

#restaurant {

    height: auto;
    background-color: $colour-background;

    .restaurant-title {
        padding-top: 50px;
        margin-left: 20px;
        font-size: 1.6em;
    }
    
    .restaurants__thumbnail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    
    .restaurants__thumbnail a {
        color: #000;
        text-decoration: none;
    }
  
    .restaurants__element {
        width: 100%;
        height: auto;
        background-color: $colour-white;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 1rem #0000002e;
        position: relative;
    }

    .restaurants__picture {
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    
    .restaurants__title-picture {
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 10px;
        margin-top: 12px;
    }
    
    .restaurants__subtitle-picture {
        padding-left: 10px;
        margin-top: -15px;
    }

    .btn-new {
        @include new
    }

    .btn-new2 {
        @include new 
    }

    .restaurants__heart-logo {
        position: absolute;
        right: 30px;
        margin-top: -60px;
        font-size: 1.7em;
        @include heart
    }
 
    @media screen and (min-width:0px) and (max-width:500px) {
        .restaurants__picture {
            height: 160px;
        }
    }

    @media screen and (min-width:600px) and (max-width:900px) {

        .restaurant-title {
            padding-top: 20px;
            text-align: center;
        }
    }

    @media screen and (min-width:901px) and (max-width:2000px) {

        padding-bottom: 50px;

        .restaurant-title {
            padding-top: 20px;
            text-align: center;
            font-size: 1.7em;
        }

        .restaurants__thumbnail {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
        }

        .restaurants__element {
            width: 40%;
            height: auto;
            border-radius: 20px;
            margin: 20px 20px;
        }
    }
}
